.navbar-brand>img {
   max-height: 200%;
   height: 200%;
   width: auto;
   margin-top: -9px

}
.navbar{
	background-color: green;
}
.navbar-default .navbar-nav>li>a{
	color: white;
}
.statePic{
	height: 150px;
    width: 250px;
    border: 5px;
    border-style: solid;
    border-color: green;
}
